/* ----------------------- */
/* --Custom properties---- */
/* ----------------------- */

:root {
    /* Colors */    
    --clr-orange: 40,97%,54%;
    --clr-main: 5,70%,18%;
        
    --clr-secundary: 30,92%,54%;
    --clr-light: 38,100%,88%;
    
    --clr-red: 358,85%,52%;
    
    --clr-face: 221,44%,41%;
    --clr-twitter:203,89%,53%;
    --clr-insta: 326,57%,48%; 
        
    /* font family */
    --ff-sans: 'Nunito', sans-serif;
    --ff-serif: 'Mouse Memoirs', serif;
        
    /* font size */
    --fs-1100: 9.375rem; /*150x*/
    --fs-1000: 6.25rem; /*100px*/
    --fs-900: 4.5rem; /*72px*/
    --fs-800: 3.5rem; /*56px*/
    --fs-700: 3rem; /*48px*/
    --fs-650: 2.5rem; /*32px*/
    --fs-600: 2rem; /*32px*/
    --fs-500: 1.75rem; /*28px*/
    --fs-420: 1.25rem; /*20px*/
    --fs-400: 1.125rem; /*18px*/
    --fs-300: 1rem; /*16px*/
    --fs-200: 0.875rem; /*14px*/    
    }
    
    .uppercase {
        text-transform: uppercase;
    }
        
    /* font weight */
    .fw-300 {font-weight: 300;}
    .fw-500 {font-weight: 500;}
        
    /* ------------------ */
    /* -UTILITY CLASES-- */
    /* ----------------- */
        
    /* Color */
    .bg-orange { background-color: hsl(var(--clr-orange));}
    .bg-main { background-color: hsl(var(--clr-main));}
    .bg-secundary { background-color: hsl(var(--clr-secundary));}
    .bg-light { background-color: hsl(var(--clr-light));}
        
    .text-orange { color: hsl(var(--clr-orange));}
    .text-main { color: hsl(var(--clr-main));}
    .text-secundary { color: hsl(var(--clr-secundary));}
    .text-light { color: hsl(var(--clr-light));}
    .text-red { color: hsl(var(--clr-red));}
    .text-face { color: hsl(var(--clr-face));}
    .text-twitter { color: hsl(var(--clr-twitter));}
    .text-insta { color: hsl(var(--clr-insta));}
    
    /* Typography */
    .fs-900 {font-size: var(--fs-900);}
    .fs-800 {font-size: var(--fs-800);}
    .fs-700 {font-size: var(--fs-700);}
    .fs-600 {font-size: var(--fs-600);}
    .fs-500 {font-size: var(--fs-500);}
    .fs-420 {font-size: var(--fs-420);}
    .fs-400 {font-size: var(--fs-400);}
    .fs-300 {font-size: var(--fs-300);}
    .fs-200 {font-size: var(--fs-200);}
    
    .ff-sans {
    font-family: var(--ff-sans);
    }
    .ff-serif {
        font-family: var(--ff-serif);
    }
    
    .ta-center{
        text-align: center;
    }
    .ta-left{
        text-align: left;
    }
    .ta-right{
        text-align: right;
    }
    
    /* Letter-spacing */
    .ls-300{
        letter-spacing: 3px;
    }
        
    /* -------------- */
    /* -----RESET---- */
    /* -------------- */
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    /* Reset margins */
    h1,
    h2,
    h3,
    h4,
    h5,
    body,
    p,
    picture,
    figure {
        margin:0;
        text-align: center;
    }
        
    /* Set up he body */
    
    body {
        font-family: var(--ff-sans);
        font-size: var(--fs-400);
    }
    
    /* ------------------ */
    /* -----NAVBAR------ */
    /* ----------------- */
    
    .nav{
        visibility: visible;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 70;
        width: 100%;
        margin:0;
        padding: 0.625em 1.25em;
    }
    
    .nav li,
    .nav a{
        display: inline-block;
        margin: 0.625em;
        text-decoration: none;
        transition: 0.5;
    }
    
    .nav li.active {
        border-bottom: 2px hsl(var(--clr-red)) solid;
    }
    
    .menu li a{
        transition: 0.5s ease;
    }
    
    .menu li.active a,
    .menu li:hover a{
        color: hsl(var(--clr-red));
    }
    
    /* ------------------ */
    /* -----NAVIGATION------ */
    /* ----------------- */
    .nav-toggle {
        cursor:pointer;
        border: 0;
        width:3em;
        height: 3em;
        padding: 0em;
        border-radius: 50%;
        background-color: hsl(var(--clr-main));
        color: hsl(var(--clr-light));
        transition: opacity 250ms ease;
    
        position: absolute;
        right: 0;
    
    }
    
    .nav-toggle:focus,
    .nav-toggle:hover {
        opacity: .75;
    }
    
    .hamburger {
        width: 50%;
        position: relative;
    }
    
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        display: block;
        margin: 0 auto;
        height: 3px;
        background: hsl(var(--clr-light));
    }
    
    .hamburger::before,
    .hamburger::after {
        content: '';
        width: 100%;
    }
    
    .hamburger::before {
        transform: translateY(-6px);
    }
    
    .hamburger::after{
        transform: translateY(3px);
    }
    
    .nav .nav-toggle {
        display: none;
    }
    
    
    /* ------------------ */
    /* -----HEADER------ */
    /* ----------------- */
        
    .header {
    background: url('./img/tequeños.png');
        background-position: center;
    }
    
    .header .title-container{
        text-align: left;
        position:relative;
        z-index:99;
    }
    
    .header .icon-container{
        position: absolute;
        z-index: 99;
        bottom:3%;
        left:50%;
        animation: down-up 1s ease infinite;
    }
    
    /* ------------------ */
    /* -----ANIMATION---- */
    /* ----------------- */
    
    @keyframes down-up{
        0%{
            transform: translateY(20px);
        }
        25%{
            transform: translateY(0px);
        }
        100%{
            transform: translateY(20px);
        }
    }
    
            
    /* ------------------ */
    /* -----VIDEO------ */
    /* ----------------- */
    
    .bg-video{
        position:absolute;
        z-index: 10;
        top:0;
        right: 0;
        width:100%;
        height: 100%;
    
        background-color: hsl(var(--clr-secundary));
        background-position: center;
        background-size: contain;
        object-fit: cover;
    }
    
    /* ----------------------- */
    /* --Full page---- */
    /* ----------------------- */
    
    #fp-nav ul li a span{
        background-color: hsl(var(--clr-orange));
    }
    #fp-nav ul li .fp-tooltip{
        color: hsl(var(--clr-orange));
    }
    /* ------------------ */
    /* -----PRODUCTS------ */
    /* ----------------- */
    
    .products article {
        background-position: center;
        background-size: cover;
    }
    
    .products article:nth-child(1){
        background-image: url('/img/teque01.png');
    }
    .products article:nth-child(2){
        background-image: url('/img/teque02.png');
    }
    .products article:nth-child(3){
        background-image: url('/img/teque03.png');
    }
    
    .products .product-info{
        margin: 0 2.5em;
    }
    
    .products .price::before{
        content: "$";
        display: inline-block;
    }
    
    /* ------------------ */
    /* -----ARROWS------ */
    /* ----------------- */
    
    .fp-controlArrow.fp-next,
    .fp-controlArrow.fp-prev{
        top:95%;
    }
    
    .fp-controlArrow.fp-prev{
        left:80%;
        border-width: 20px 20px 20px 0;
        border: transparent #000 transparent transparent;
    }
    .fp-controlArrow.fp-next{
        right:50px;
        border-width: 20px 0 20px 20px;
        border: transparent transparent transparent #000;
    }
    
    /* ------------------ */
    /* -----FOOTER------ */
    /* ----------------- */
    
    .footer h2{
        margin-bottom: 40px;
        opacity: 0; 
        transition: 1s ease;
    }
    
    .footer .social-networks{
        display: flex;
        justify-content: center;
        font-size: 50px;
        margin:0;
    }
    
    .footer .social-networks a{
        display: flex;
        width: 100px;
        height: 100px;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        margin: 0 1.25em;
    }
    
    .footer .facebook:hover{background-color: #3b5998;}
    .footer .twitter:hover {background-color: #1da1f2;}
    .footer .instagram:hover{background-color: #c13584;}
    
    .facebook:hover .fa-facebook-square {color: hsl(var(--clr-light));}
    .instagram:hover:hover .fa-instagram {color: hsl(var(--clr-light));}
    .twitter:hover .fa-twitter-square {color: hsl(var(--clr-light));}
    
    /* ------------------ */
    /* -----MEDIAQUERIES------ */
    /* ----------------- */
    /* X-Small devices (portrait phones, less than 576px) */
    @media (max-width: 35.99em) {
        .navMenu {
            visibility: hidden;
            height: 0;
            position: absolute;
            font-size: 1rem;
            background-color: hsl(var(--clr-main));
        }
    
        .navMenu >ul{
            display: flex;
            flex-direction: column;
            align-items: center;
    
        }
    
        .nav .nav-toggle {
            display: block;
            right: 10px;
            top:25px;
        }
        
        .navMenu--visible {
            visibility: visible;
            height: auto;
            position: relative;
        } 
    
        .title-container h1{
            font-size: var(--fs-700);
        }
    
        .products article:nth-child(1) >div{
            position:absolute;
            top: 72.5%;
        }
        .products .product-info p >span{
            font-size: var(--fs-500);
        }
    
        .products .product-info >p{
            font-size: var(--fs-300);
        }
    
        .fp-controlArrow.fp-next{
            left:100px;
        }
    
        .fp-controlArrow.fp-prev{
            left:25px;
        }
    
        .footer .social-networks{
            display: flex;
            flex-direction: column;
            align-items:center;
            gap: 20px;
        }
    }
    
     /* Small devices (landscape phones, less than 768px) */
    @media (max-width: 47.99em) { 
        .nav{
            display: block;
            text-align: center;
        }
    
        .footer h2{
            font-size: var(--fs-600);
        }  
    }
    